doctype html
html
  head
    script(src='/javascripts/jquery-3.0.0')
  body(style='background-color: #E4F1FE; font-family: "Slabo", "sans-serif";')
    p=balance
    //- each val, index in messages
    //-   p=('Scarborough Boyz Swag Website ' + val)
